.profile_image img {
  margin-right: 25px;
  max-width: 40%;
  padding: 0px;
  border-radius: 50%;
  float: left;
}

.project_image img {
  margin-right: 15px;
  margin-bottom: 0px;
  max-width: 20%;
  padding: 0px;
  float: left;
}

.franklin-content {
  text-align: justify;
}

.franklin-content .left-align {
  text-align: left;
}
